{% include disqus.html %}
{% include facebook_like.html %}
{% include google_plus_one.html %}
{% include twitter_sharing.html %}
{% include custom/after_footer.html %}

<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script> <!-- Google Map API -->
<script src="{{ root_url }}/javascripts/libs/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="{{ root_url }}/javascripts/libs/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="{{ root_url }}/javascripts/libs/waypoints.js"></script> <!-- WayPoints -->
<script src="{{ root_url }}/javascripts/libs/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="{{ root_url }}/javascripts/libs/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="{{ root_url }}/javascripts/libs/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="{{ root_url }}/javascripts/libs/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="{{ root_url }}/javascripts/libs/jquery.tweet.js"></script> <!-- Tweet -->
<script src="{{ root_url }}/javascripts/libs/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
 <script src="{{ root_url }}/javascripts/octopress.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/main.js"></script> <!-- Default JS -->
<!-- End Js -->
