<!-- Header -->
<header>
    <div class="sticky-nav">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
            <a id="goUp" href="{{ root_url }}/index.html#home-slider" title="{{ site.title }}">{{ site.title }}</a>
        </div>
        
        <nav id="menu">
            <ul id="menu-nav">
                <li><a href="{{ root_url }}/index.html#home-slider" class="external">Home</a></li>
                <li><a href="{{ root_url }}/index.html#work" class="external">Portfolio</a></li>
                <li><a href="{{ root_url }}/index.html#about" class="external">About</a></li>
                <li><a href="{{ root_url }}/blog/index.html" class="external">Blog</a></li>
                <li><a href="{{ root_url }}/index.html#contact" class="external">Contact</a></li>
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->